<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN </title>
</head>
<body>
<div>
    <h1><u style="background-color:yellow;">*TECHLEARN ACADAMY*</u></h1><br>
    <P>Login to see your Result:</P>
    <form action ="{{url_for('login')}}" method = "POST">
        <b>Username: </b><input type="text" name="username" required> <br><br>
        <b>Password : </b><input type="password" name="password" required> <br><br><br>
        <input value = "login" type="submit"><br>
        <br><br>
        <h4>{{msg}}</h4>
    </form>
</div>

</body>
</html>